@font-face {
  font-family: yeet;
  src: url(NotoSansMono-VariableFont_wdth,wght.ttf);
}

body {
  margin: 0;
  background-image: url("img/background_blur_2.jpg");
  background-repeat: repeat-y;
  background-size:  100%;
  color: lightgray;
  text-align:  center;
  font-family: yeet, Verdana, Arial, Tahoma, Serif;
}

@media only screen and (max-width: 600px) {
  body {
    background-image: url("img/background_blur_2_mobile.jpg");
  }
}

#logo {
  padding-top: 1em;
  animation:  pulse 2s infinite ease-in-out;
  width: 300px;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
}

#tagline {
  animation: float 5s infinite ease-in-out;
}

.links:hover, .links:active
{
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.1s ease-in-out 0s;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(0.95);
  }
}

@keyframes float {
  0% {
    transform: translateY(-10%);
  }
  50% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(-10%);
  }
}

hr {
  width: 50%;
}

#marquees {
  width:  100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.thedudes {
  border: 3px solid #00ff00;
  border-radius: 5px;
  background-color:  black;
  width: 194px;
  height: 180px;
  display: inline-block;
  overflow: hidden;
}

.dudetext {
  opacity: 0;
  text-align: left;
  padding-left: 10px;
}

.thedudes:hover, .thedudes:active
{
  border: 3px solid #ff0000;
  transform: scale(1.5);
  transition: all 0.1s ease-in-out 0s;
}

.thedudes:hover > .dudetext {
  opacity: 1;
}

.thedudes:active > .dudetext {
  opacity: 1;
}

a:link {
  text-decoration: none;
}

ul {
  list-style:  none;
  padding: 0;
}

li {
  padding-bottom: 2em;
  font-size: 1.75em;
}

#dim {
  background-color: rgba(3, 25, 30, 0.5);
}

#tim {
  background: url("img/tim.jpg") no-repeat;
}

#tim:hover, #tim:active {
  background: url("img/timdim.jpg") no-repeat;
}

#devo {
  background: url("img/devo.jpg") no-repeat;
}

#devo:hover, #devo:active {
  background: url("img/devodim.jpg") no-repeat;
}

#ben {
  background: url("img/ben.jpg") no-repeat;
}

#ben:hover, #ben:active {
  background: url("img/bendim.jpg") no-repeat;
}

#richie {
  background: url("img/richie.jpg") no-repeat;
}

#richie:hover, #richie:active {
  background: url("img/richiedim.jpg") no-repeat;
}

#dashuan {
  background: url("img/dashuan.jpg") no-repeat;
}

#dashuan:hover, #dashuan:active {
  background: url("img/dashuandim.jpg") no-repeat;
}

.smol {
  font-size: 0.75em;
  margin-top: 0;
}

.name {
  margin-bottom: 0;
}
